# Rekordbox
REKORDBOX_DB_PATH=C:\Users\gonza\AppData\Roaming\Pioneer\rekordbox\master.db
REKORDBOX_XML_PATH=C:\Users\gonza\AppData\Roaming\Pioneer\rekordbox\masterPlaylists6.xml
SQLCIPHER_KEY=402fd482c38817c35ffa8ffb8c7d93143b749e7d315df7a81732a1ff43608497

# Music library
MUSIC_LIBRARY_ROOT=C:\Users\gonza\OneDrive\Documentos\Music
MUSIC_NEW_FOLDER=C:\Users\gonza\OneDrive\Documentos\Music\2026\Nuevos
DOWNLOADS_FOLDER=C:\Users\gonza\Downloads

# Backups
BACKUP_FOLDER=C:\Users\gonza\Music\plomo\outputs
BACKUP_RETENTION=10

# Spotify (optional)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback
